In [46]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [47]:
scaler = StandardScaler()

In [48]:
df_train = pd.read_csv('../X_Train.csv')
df_test = pd.read_csv('../X_Test.csv')

In [49]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,-393.25937,47.211365,-14.840610,48.223183,-12.648447,12.918578,-8.701591,8.800138,1.150031,-1.520719,...,5.719014,7.661323,10.969619,12.187999,8.654342,8.840950,3.409575,5.758017,1.398056,3.451555
1,-301.02374,55.178350,-33.070267,60.668667,-27.534761,21.097240,-17.485130,10.804612,-2.711287,-0.730897,...,7.210642,7.889643,10.810433,13.508118,9.579130,11.722928,4.040374,7.347886,-0.763252,3.462754
2,-340.74554,55.172844,-28.853863,56.792590,-20.615953,16.453169,-15.359990,11.006892,-1.211429,1.864681,...,8.118001,8.559962,9.006431,9.102636,5.627550,8.498143,3.203908,6.917989,-0.447961,2.676908
3,-301.35336,57.852460,-32.282894,58.409010,-21.080715,19.951340,-15.906841,10.579597,-0.819382,1.031019,...,7.574814,6.503914,8.235950,8.857158,5.597630,9.253420,2.722170,7.077741,-0.687696,3.141844
4,-312.69220,66.862380,-37.124230,60.418377,-25.323230,18.759283,-18.305700,10.565392,-1.530734,1.156553,...,10.431557,9.775954,9.725409,9.129833,4.723327,9.060879,2.478743,7.670273,-0.260833,3.078921

In [50]:
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,-295.44390,49.006620,-33.630814,55.130447,-30.433764,25.700630,-19.513330,8.232924,-11.544922,2.850244,...,8.301552,6.795958,7.103918,7.394035,2.681389,8.337363,0.341784,6.470315,0.656670,3.807948
1,-414.08032,40.497242,-12.854951,18.804570,-11.105615,1.522901,-3.025048,0.361386,0.901961,-1.174378,...,0.009065,-0.254289,-0.591698,0.686029,-0.683398,-0.262996,-2.091954,-0.053971,-0.199228,0.071490
2,-448.82280,39.273724,-9.414446,17.085396,-13.178941,2.997528,-2.402884,-0.984633,3.086136,-0.834018,...,-0.239110,-0.467611,-0.880765,0.279056,-1.467867,-0.442762,-1.912249,-0.540331,-0.520568,-0.766459
3,-315.11850,37.206505,-30.080963,40.615547,-31.191830,18.042690,-17.667921,11.238570,-8.382076,0.104715,...,7.559400,4.125650,0.458196,0.853175,-2.511544,1.070528,-3.017412,2.042986,-3.537422,-1.789025
4,-260.32470,49.710228,-40.616920,49.079716,-39.089714,21.955444,-22.461030,12.427060,-11.052589,1.987215,...,10.147694,9.314344,4.888262,5.048138,-2.303378,1.424386,-3.320233,2.768922,-2.723704,-0.082533

In [51]:
scaler = StandardScaler()
scaler.fit(df_train)
scaled_data_train = scaler.transform(df_train)

In [52]:
scaler = StandardScaler()
scaler.fit(df_test)
scaled_data_test = scaler.transform(df_test)

In [53]:
scaled_data_train_df = pd.DataFrame(scaled_data_train)
scaled_data_train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,-1.668553,-1.297257,0.971568,0.475563,0.761505,0.150822,-0.050301,0.658133,0.410332,-1.445036,...,-0.236296,0.517192,2.258106,2.153228,2.069651,1.466814,1.124492,1.122890,0.673239,1.041177
1,0.375962,-0.737954,-0.477299,1.796089,-0.880277,1.412751,-1.445570,1.103039,-0.563930,-1.153701,...,0.266311,0.597057,2.200927,2.615331,2.393242,2.462550,1.393881,1.832941,-0.583629,1.048322
2,-0.504520,-0.738341,-0.142185,1.384818,-0.117215,0.696192,-1.107991,1.147937,-0.185496,-0.196293,...,0.572048,0.831532,1.552937,1.073207,1.010550,1.348373,1.036660,1.640945,-0.400277,0.546960
3,0.368656,-0.550225,-0.414720,1.556328,-0.168473,1.235944,-1.194858,1.053096,-0.086577,-0.503798,...,0.389020,0.112335,1.276183,0.987278,1.000080,1.609324,0.830929,1.712292,-0.539691,0.843585
4,0.117317,0.082294,-0.799503,1.769532,-0.636372,1.052015,-1.575918,1.049943,-0.266061,-0.457494,...,1.351606,1.256882,1.811191,1.082727,0.694154,1.542801,0.726971,1.976923,-0.291456,0.803440

In [54]:
scaled_data_test_df = pd.DataFrame(scaled_data_test)
scaled_data_test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,0.458850,-0.829371,-0.291432,1.374824,-0.715761,1.972980,-1.553072,0.503142,-2.341967,0.459910,...,0.697867,0.456045,0.990348,0.868418,0.655190,2.358937,0.572945,2.636054,0.856872,2.149753
1,-1.995583,-1.401461,1.323905,-2.622218,1.294457,-1.584414,1.139461,-1.117208,0.467971,-0.975320,...,-1.809591,-1.493165,-1.016568,-1.148028,-0.652023,-1.603952,-0.829528,-1.312239,0.278116,-0.855793
2,-2.714360,-1.483719,1.591406,-2.811384,1.078821,-1.367445,1.241061,-1.394285,0.961058,-0.853943,...,-1.884634,-1.552143,-1.091953,-1.270365,-0.956788,-1.686785,-0.725971,-1.606569,0.060826,-1.529826
3,0.051808,-1.622699,-0.015429,-0.222292,-0.794603,0.846228,-1.251717,1.121852,-1.627941,-0.519179,...,0.473457,-0.282225,-0.742769,-1.097783,-1.362255,-0.989488,-1.362835,-0.043227,-1.979163,-2.352361
4,1.185420,-0.782067,-0.834607,0.709045,-1.616020,1.421932,-2.034431,1.366501,-2.230820,0.152144,...,1.256098,1.152314,0.412534,0.163235,-1.281383,-0.826437,-1.537339,0.396087,-1.428929,-0.979686

In [55]:
scaled_data_train_df.to_csv('X_Train.csv', index = 0)
scaled_data_test_df.to_csv('X_Test.csv', index = 0)