In [80]:
import pandas as pd

In [81]:
train = pd.read_csv('./Standardization/X_Train.csv')
label = pd.read_csv('y_train.csv')
# label = label.Gender

In [82]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,-1.668553,-1.297257,0.971568,0.475563,0.761505,0.150822,-0.050301,0.658133,0.410332,-1.445036,...,-0.236296,0.517192,2.258106,2.153228,2.069651,1.466814,1.124492,1.122890,0.673239,1.041177
1,0.375962,-0.737954,-0.477299,1.796089,-0.880277,1.412751,-1.445570,1.103039,-0.563930,-1.153701,...,0.266311,0.597057,2.200927,2.615331,2.393242,2.462550,1.393881,1.832941,-0.583629,1.048322
2,-0.504520,-0.738341,-0.142185,1.384818,-0.117215,0.696192,-1.107991,1.147937,-0.185496,-0.196293,...,0.572048,0.831532,1.552937,1.073207,1.010550,1.348373,1.036660,1.640945,-0.400277,0.546960
3,0.368656,-0.550225,-0.414720,1.556328,-0.168473,1.235944,-1.194858,1.053096,-0.086577,-0.503798,...,0.389020,0.112335,1.276183,0.987278,1.000080,1.609324,0.830929,1.712292,-0.539691,0.843585
4,0.117317,0.082294,-0.799503,1.769532,-0.636372,1.052015,-1.575918,1.049943,-0.266061,-0.457494,...,1.351606,1.256882,1.811191,1.082727,0.694154,1.542801,0.726971,1.976923,-0.291456,0.803440

In [83]:
label

                                         Name Gender
0           train_pfstar/001f12bh_digits1.wav      f
1           train_pfstar/001f12bh_digits6.wav      f
2            train_pfstar/001f12bh_list_1.wav      f
3         train_pfstar/001f12bh_list_ph01.wav      f
4         train_pfstar/001f12bh_list_ph06.wav      f
..                                        ...    ...
851       train_pfstar/248f08sp_list_ph13.wav      f
852       train_pfstar/248f08sp_list_ph18.wav      f
853  train_pfstar/248f08sp_sentences3or8a.wav      f
854        train_pfstar/248f08sp_w_list3a.wav      f
855        train_pfstar/248f08sp_w_list3b.wav      f

[856 rows x 2 columns]

In [84]:
train['label'] = label.iloc[:,1]

In [85]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,label
0,-1.668553,-1.297257,0.971568,0.475563,0.761505,0.150822,-0.050301,0.658133,0.410332,-1.445036,...,0.517192,2.258106,2.153228,2.069651,1.466814,1.124492,1.122890,0.673239,1.041177,f
1,0.375962,-0.737954,-0.477299,1.796089,-0.880277,1.412751,-1.445570,1.103039,-0.563930,-1.153701,...,0.597057,2.200927,2.615331,2.393242,2.462550,1.393881,1.832941,-0.583629,1.048322,f
2,-0.504520,-0.738341,-0.142185,1.384818,-0.117215,0.696192,-1.107991,1.147937,-0.185496,-0.196293,...,0.831532,1.552937,1.073207,1.010550,1.348373,1.036660,1.640945,-0.400277,0.546960,f
3,0.368656,-0.550225,-0.414720,1.556328,-0.168473,1.235944,-1.194858,1.053096,-0.086577,-0.503798,...,0.112335,1.276183,0.987278,1.000080,1.609324,0.830929,1.712292,-0.539691,0.843585,f
4,0.117317,0.082294,-0.799503,1.769532,-0.636372,1.052015,-1.575918,1.049943,-0.266061,-0.457494,...,1.256882,1.811191,1.082727,0.694154,1.542801,0.726971,1.976923,-0.291456,0.803440,f

In [86]:
train.to_csv('dataset.csv')